html, body {
    background-color: white;
    color: black;
}
/* First nav */
#firstNav {
    box-shadow: none;
    background-color: #222831;
}
/* search nav */
#secondNav {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
    display: none;
    background-color: white;
}
/* Button add topic fixed */
#btnAddTopic {
    background-color: #2797CC;
}

/* Modal */
.modal {
    max-height: 100%;
}

/* topic box */
.topicMain{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #393E46;
    color: white !important;
}

/* answer topic box */
.topicAnswer{
    border: 1px solid black;
    border-radius: 3px;
    background-color: #24272d !important;
    color: white !important;
    margin: 15px 0;
}

/* fix height bug from quill*/
.ql-editor, .ql-container{
    height: auto;
}

/* Register */
#btnBackRegister{
    margin-bottom: 10px;
}