<!doctype html>
<html lang="fr">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - MyWord</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/quill.css">
        <link rel="stylesheet" href="/css/custom.css">
    {% endblock %}
</head>
<body>

<!-- Navbar -->
<nav id="firstNav">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">MyWord</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="btnSearch" href="#!"><i class="material-icons">search</i></a></li>
            <li><a href="/">Accueil</a></li>
            {% if isOnline() %}
                <li><a href="/logout">Déconnexion</a></li>
                <li><a href="/account">Mon compte</a></li>
            {% else %}
                <li><a href="/login">Connexion</a></li>
                <li><a href="/register">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Search navbar -->
<nav id="secondNav">
    <div class="nav-wrapper">
        <form id="searchTopic">
            <div class="input-field">
                <input id="search" type="search" required placeholder="Ex. Hello World">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<!-- Side nav -->
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Accueil</a></li>
    {% if isOnline() %}
    <li><a href="/logout">Déconnexion</a></li>
    <li><a href="/account">Mon compte</a></li>
    {% else %}
    <li><a href="/login">Connexion</a></li>
    <li><a href="/register">Inscription</a></li>
    {% endif %}
    <li><a class="btnSearch" href="#!"><i class="material-icons">search</i></a></li>
</ul>

<!-- Block content -->
{% block content %}{% endblock %}

<!-- JavaScript -->
<script src="/js/materialize.min.js"></script>
<script src="/js/quill.js"></script>
<script src="/js/index.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>