{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container row center">

        <h1>Créer un topic</h1>

        <div class="input-field">
            <input type="text" name="title" id="createTitleTopic">
            <label for="title">Titre</label>
        </div>


        <div id="quillEditor"></div>

        <ul id="errorTopicCreateStatus">

        </ul>
        <button id="btnCreateTopic" class="btn waves-effect" type="button">Créer</button>

    </div>
{% endblock %}

{% block javascript %}
<script>
    document.getElementById("btnCreateTopic").addEventListener("click",createTopic);
</script>
{% endblock %}


