{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container row center">

        <h1>Modifier le topic</h1>

        <div class="input-field">
            <input type="text" value="{{ topic.title }}" name="title" id="editTitleTopic">
            <label for="title">Titre</label>

            <input id="editTopicId" type="hidden" name="id" value="{{ topic.id }}" type="text">
        </div>


        <div id="quillEditor">
            {{ topic.content | raw}}
        </div>

        <ul id="errorTopicEditStatus">

        </ul>
        <button id="btnEditTopic" class="btn waves-effect orange" type="button">Modifier</button>

    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("btnEditTopic").addEventListener("click",editTopic);
</script>

{% endblock %}


