{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}


    <div class="container row center">
        <h1>Connexion</h1>
        <form id="loginForm" class="col s12">
            <div class="row">

                <!--  Input username  -->
                <div class="input-field col s12">
                    <input name="username" placeholder="Entrer votre pseudo" id="username" type="text" required>
                    <label for="username">Pseudo</label>
                    <p id="username-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password  -->
                <div class="input-field col s12">
                    <input name="password" id="password" type="password" placeholder="Entrer votre mot de passe"  required>
                    <label for="password">Mot de passe</label>
                    <p id="password-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password  -->
                <div class="input-field col s12">
                    <a class="modal-trigger" href="#forgotPassword">Mot de passe oublié?</a>
                </div>

            </div>
            <!-- Button send  -->
            <div class="row">
                <div class="col s12">
                    <p id="connect-status" class="red-text status-text"></p>
                </div>

                <div class="col s12">
                    <button class="btn btn-flat green white-text" type="submit">Connexion</button>
                    <a href="/register" class="btn btn-flat green white-text">Inscription</a>
                </div>
            </div>

        </form>

        <!-- Modal Structure -->
        <div id="forgotPassword" class="modal">
            <div class="modal-content">
                <h4>Mot de passe oublié ?</h4>
                <p>Réinitialiser votre mot de passe, vous recevrez un mail</p>
                <form method="post" action="/post/forgot/password">
                    <!--  Input password  -->
                    <div class="input-field">
                        <input name="emailPasswordReset" id="emailPasswordReset" type="email" placeholder="Entrer votre email" required>
                        <label for="emailPasswordReset">Email</label>
                    </div>

                    <div class="input-field">
                        <button class="btn waves-effect blue" type="submit">Réinitialiser</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect white-text red waves-green btn-flat">Fermer</a>
            </div>
        </div>



    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("loginForm").addEventListener("submit",loginForm);
</script>

{% endblock %}
