{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container row center">

        <!--  Display element connect/disconnect depends on the user status  -->

        <h1>Profil</h1>

        <section class="z-depth-2 row">
            <div class="col s4">
                <p>Pseudo: {{ user().username }} </p>
            </div>
            <div class="col s4">
                <p>Email: {{ user().email }} </p>
            </div>

            <div class="col s4">
                <p>Anniversaire: {{ user().birthdate }} </p>
            </div>

            <div class="col s4">
                <p>Inscription: {{ user().registerDate }} </p>
            </div>
        </section>

        <a class="btn btn-flat red white-text waves-effect" href="/logout">Déconnexion</a>

    </div>


{% endblock %}
