{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container row center">
        <h1 class="col l11 m11 s11">Inscription</h1>

        <form id="registerForm" class="col s12">
            <div class="row">

                <!--  Input username  -->
                <div class="input-field col s12">
                    <input name="username" placeholder="Entrer votre pseudo" id="username" type="text" required>
                    <label for="username">Pseudo</label>
                    <p id="username-status" class="left red-text status-text"></p>
                </div>

                <!--  Input email  -->
                <div class="input-field col s12">
                    <input name="email" id="password" type="email" placeholder="Entrer votre email" required>
                    <label for="email">Email</label>
                    <p id="email-status" class="left red-text status-text"></p>
                </div>

                <!--  Input birthdate  -->
                <div class="input-field col s12">
                    <input name="birthdate" id="birthdate" type="date" placeholder="Entrer votre date de naissance"
                           required>
                    <label for="birthdate">Date de naissance</label>
                    <p id="birthdate-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password  -->
                <div class="input-field col s12">
                    <input name="password" placeholder="Entrer votre mot de passe" id="password" type="password"
                           required>
                    <label for="password">Mot de passe</label>
                    <p id="password-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password confirm -->
                <div class="input-field col s12">
                    <input name="passwordConfirm" id="passwordConfirm" type="password"
                           placeholder="Confirmer votre mot de passe" required>
                    <label for="passwordConfirm">Confirmation mot de passe</label>
                    <p id="passwordConfirm-status" class="left red-text status-text"></p>
                </div>

            </div>


            <!-- Button send  -->
            <div class="row">
                <div class="col s12" id="btnBackRegister">
                    <a href="/login" class="btn btn-flat red white-text"><i class="material-icons white-text">chevron_left</i></a>
                </div>
                <div class="col s12">
                    <button class="btn btn-flat green white-text" type="submit">M'inscrire</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("registerForm").addEventListener("submit",registerForm);
</script>

{% endblock %}