{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}


    <div class="container row center">
        <h1>Réinitialiser votre mot de passe</h1>
        <form id="resetPasswordForm" class="col s12">
            <div class="row">

                <!--  Input username  -->
                <div class="input-field col s12">
                    <input name="password" placeholder="Nouveau mot de passe" id="password" type="password" required>
                    <label for="password">Nouveau mot de passe</label>
                    <p id="password-status" class="left red-text status-text"></p>
                </div>

                <!--  Input password  -->
                <div class="input-field col s12">
                    <input name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirmer votre nouveau mot de passe"  required>
                    <label for="confirmPassword">Confirmer votre nouveau mot de passe</label>
                    <p id="confirmPassword-status" class="left red-text status-text"></p>
                </div>

                <input type="hidden" name="token" value="{{ token }}">

            </div>
            <!-- Button send  -->
            <div class="row">
                <div class="col s12">
                    <button class="btn btn-flat white-text blue" type="submit">Réinitialiser</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    document.getElementById("resetPasswordForm").addEventListener("submit",resetPassword);
</script>
{% endblock %}
