{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container row center">

        <!--  Display element connect/disconnect depends on the user status  -->

        <h1>Recherche de: {{ search }}</h1>


        <!--  Display topics  -->
        {% for topic in topics %}
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ topic.title}} - par {{ topic.author }}</span>
                        </div>
                        <div class="card-action">
                            <a href="/topic/{{ topic.id }}"><i class="material-icons">sms</i></a>
                            {% if user().username == topic.author %}
                                <a href="/edit/topic/{{ topic.id }}"><i class="material-icons">edit</i></a>
                                <a onclick="beforeDeleteTopic({{ topic.id }}, '{{ topic.title }}')" href="#deleteTopicModal" class="modal-trigger"><i class="material-icons red-text">delete</i></a>

                            {% endif %}
                            <!--<a href="#"><i class="material-icons">favorite_border</i></a>-->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Delete topic modal -->
    <div id="deleteTopicModal" class="modal">
        <div class="modal-content">
            <h4 id="titleModalDelete" class="center-align"></h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
            <button id="btnDeleteTopic" class="modal-close waves-effect waves-green btn-flat">Supprimer</button>
        </div>
    </div>



{% endblock %}

{% block javascript %}
<script type="text/javascript">
    document.getElementById("btnDeleteTopic").addEventListener("click",deleteTopic);
</script>
{% endblock %}