{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container row">

        <section class="section row container">
            <h4>Sujet: {{ topic.title }}</h4>
            <a href="/" class="btn btn-flat black waves-effect"><i class="material-icons white-text">arrow_back</i></a>
            {% if user().id == topic.authorId %}
                <a class="btn-flat btn waves-effect orange white-text" href="/edit/topic/{{ topic.id }}">Editer</a>
                <button onclick="beforeDeleteTopic({{ topic.id }}, '{{ topic.title }}')" href="#deleteTopicModal"
                        class="modal-trigger btn-flat btn waves-effect red white-text">Supprimer
                </button>
                <a class="btn btn-flat waves-effect blue white-text" href="#answerTopic">Répondre</a>
            {% elseif isOnline() %}
                <a class="btn btn-flat waves-effect blue white-text" href="#answerTopic">Répondre</a>
            {% endif %}
        </section>

        <!-- Topic content -->
        <section class="section row container">
            <div class="topicMain col s12 ql-editor">
                {{ topic.content|raw }}
                <hr>
                <span class="left">Message crée le {{ topic.createdAt }} par {{ author }}</span>
            </div>

        </section>

        <!-- Answers -->
        <section class="row container">
            {% for answer in answers %}
                <div class="topicAnswer row ql-editor">
                    {{ answer.content | raw }}
                    <hr>
                    <span class="left">Message crée le {{ answer.createdAt }} par {{ answer.author }}</span>
                    {% if answer.authorId == user().id %}
                    <button onclick="beforeDeleteAnswerTopic({{ answer.id }})"
                            href="#deleteAnswerModal"
                            class="modal-trigger btn waves-effect red white-text col s1"><i
                                class="material-icons">delete</i>
                    </button>
                    {% endif %}
                </div>
            {% endfor %}

        </section>

        {% if isOnline() %}

            <section id="answerTopic" class="row container">
                <hr>
                <h3>Répondre</h3>

                <div id="quillEditor"></div>

                <ul id="errorTopicAnswer" class="center-align">

                </ul>

                <div class="col s12 center-align">
                    <button id="btnCreateAnswer" class="btn waves-effect blue center" type="button">Répondre</button>
                </div>

            </section>

        {% endif %}
    </div>
    <!-- Delete topic modal -->
    <div id="deleteTopicModal" class="modal">
        <div class="modal-content">
            <h4 id="titleModalDelete"></h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
            <button id="btnDeleteTopic" href="#!" class="modal-close waves-effect waves-green btn-flat">Supprimer
            </button>
        </div>
    </div>

    <!-- Delete answer modal -->
    <div id="deleteAnswerModal" class="modal">
        <div class="modal-content">
            <h4 id="titleDeleteAnswerModal" class="center-align"></h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
            <button id="btnDeleteAnswer" href="#!" class="modal-close waves-effect waves-green btn-flat">Supprimer
            </button>
        </div>
    </div>


{% endblock %}
{% block javascript %}
<script type="text/javascript">
    document.getElementById("btnDeleteTopic").addEventListener("click",deleteTopic);
    document.getElementById("btnDeleteAnswer").addEventListener("click",deleteAnswerTopic);
    document.getElementById("btnCreateAnswer").addEventListener("click",createAnswer);
</script>
{% endblock %}